{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet-src.js" integrity="sha256-wc8X54qvAHZGQY6nFv24TKlc3wtO0bgAfqj8AutTIu0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />
<script src="{% static "scripts/Polyline.encoded.js" %}"></script>
{% endblock %}

{% block content %}
<div id="reactContainer"></div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script type="text/babel">
    class ActivityCard extends React.Component {
        constructor(props) {
            super(props);
        }

        componentDidMount() {
            const mapId = "map-for-" + this.props.activity.id;
    
            var myMap = L.map(mapId).setView([this.props.activity.start_latitude, this.props.activity.start_longitude], 13);
            L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'}).addTo(myMap);
            L.polyline(L.PolylineUtil.decode(this.props.activity.polyline), {color: 'blue', weight: 5, lineJoin: 'round'}).addTo(myMap);   
        }

        render() {
            let activityUrl = "https://www.strava.com/activities/" + this.props.activity.id;
            let mapId = "map-for-" + this.props.activity.id;

            return (
                <div className="column is-one-quarter" key={this.props.activity.id}>
                    <div className="card">
                        <div className="card-image">
                            <div id={mapId} className="map"></div>
                        </div>
                        <div className="card-content">
                            <div> 
                                <strong>{this.props.activity.name}</strong>
                                <p><a href={activityUrl} className="stravaLink" target="_blank">View On Strava</a></p>
                                <p>{this.props.activity.date}</p>
                                <p>{this.props.activity.distance}mi</p>
                            </div>
                        </div>
                    </div>
                </div>
            );
        }
    }

    class DistanceForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = { minDistance: 3, maxDistance: 5, activities: [], error: "", isLoading: true };
            this.handleChange = this.handleChange.bind(this);
            
        }

        componentDidMount() {
            $( () =>  {
                $( "#slider" ).slider({
                    range: true,
                    min: 0,
                    max: 10,
                    step: 0.1,
                    values: [ this.state.minDistance, this.state.maxDistance ],
                    slide: (event, ui) => {
                        this.setState({minDistance: ui.values[0], maxDistance: ui.values[1]})
                    }
                });
            });
            this.loadActivities();
        }

        loadActivities() {
            this.setState({isLoading: true});
            fetch('/activities/')
                .then(response => response.json())
                .then(data => this.setState({ activities: data.activities, error: data.error, isLoading: false})
            );
        }

        handleChange(event) {
            this.setState({[event.target.id]: event.target.value});
        }

        render() {
            const isLoading = this.state.isLoading;
            return (
                <div>
                    <div className="column is-10 is-offset-1">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div className="field is-horizontal">
                                    <label className="label">Min Distance</label>
                                    <div className="control">
                                        <input className="input" type="number" id="minDistance" name="minDistance" min="0" max="10" value={this.state.minDistance} onChange={this.handleChange} />
                                    </div>
                                </div>

                                <div id="sliderField" className="field is-horizontal">
                                    <div id="slider"></div>
                                </div>

                                <div className="field is-horizontal">
                                    <div className="control">
                                        <input className="input" type="number" id="maxDistance" name="maxDistance" min="0" max="10" value={this.state.maxDistance} onChange={this.handleChange} />    
                                    </div>
                                    <label className="label">Max Distance</label>
                                </div>
                            </div>                        
                        </div>
                    </div>

                    { isLoading ? (
                        <div className="lds-ring column is-half is-offset-one-quarter "><div></div><div></div><div></div><div></div></div>
                    ) : (
                        <div className="columns is-multiline">                      
                            {this.state.activities ? this.state.activities.filter(e => 
                                e.distance >=  this.state.minDistance &&  e.distance <= this.state.maxDistance ).map((activity, key) =>
                                <ActivityCard activity={activity} key={activity.id} /> ) : <p className="notification is-warning">{this.state.error}</p>
                            }
                        </div>
                    )}
                </div>
            );
        }
    }
    
    const domContainer = document.querySelector('#reactContainer');
    ReactDOM.render(<DistanceForm/>, domContainer);    
</script>

{% endblock %}